{% extends "base.html" %}
{% load md %}

{% block content %}
	{% if header_title %}
		<div class="mdl-grid container-title">
			<div class="mdl-cell mdl-cell--12-col">
				<h1>
					<span>
						{% if header_icon %}<i class="fa fa-{{ header_icon }}"></i> {% endif %}
						{{ header_title }}
					</span>
				</h1>
			</div>
		</div>
	{% endif %}
<div class="mdl-grid container-content">
	{% if objects %}
		{% for obj in objects %}
			<div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
				<div class="post-card mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">{{ obj.title }}</h2>
					</div>
					<div class="mdl-card__supporting-text">{{ obj.content | md | safe | truncatechars_html:255 }}</div>
					<div class="mdl-card__actions mdl-card--border">
						<a href="{{ obj.get_absolute_url }}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Plus d'info</a>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
	<div class="mdl-cell mdl-cell--12-col">
		<p>{{ empty_content }}</p>
	</div>
	{% endif %}
</div>
{% endblock %}
