{% load menu %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
		<title>{% block meta_title %}birkoss.com{% endblock meta_title %}</title>

		<!-- Add to homescreen -->
		<link rel="manifest" href="manifest.json" />

		<!-- Fallback to homescreen for Chrome <39 on Android -->
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="application-name" content="Material Design Lite" />
		<link rel="icon" sizes="192x192" href="../assets/android-desktop.png" />

		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-title" content="Material Design Lite" />
		<link rel="apple-touch-icon" href="../assets/ios-desktop.png" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css" />
	</head>
	<body>

		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<div class="mdl-layout-spacer"></div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
						<label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
							<i class="material-icons">search</i>
						</label>
						<div class="mdl-textfield__expandable-holder">
							<input class="mdl-textfield__input" type="text" name="sample"	id="fixed-header-drawer-exp">
						</div>
					</div>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Title</span>
				<nav class="mdl-navigation">
					{% show_menu_categories %}
				</nav>
			</div>
			<main class="mdl-layout__content">
				<div class="page-content">
					{% block content %}
						Content...
					{% endblock content %}
				</div>
			</main>
		</div>

		<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	</body>
</html>
